src/main/webapp/wsdl/EventService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:tns1="http://sql.java" xmlns:tns2="http://models" xmlns:tns3="http://http.servlet.jakarta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models"/>
   <import namespace="http://sql.java"/>
   <import namespace="http://http.servlet.jakarta"/>
   <element name="getConnection">
    <complexType/>
   </element>
   <element name="getConnectionResponse">
    <complexType>
     <sequence>
      <element name="getConnectionReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllEvents">
    <complexType/>
   </element>
   <element name="getAllEventsResponse">
    <complexType>
     <sequence>
      <element name="getAllEventsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="updateEvent">
    <complexType>
     <sequence>
      <element name="eventID" type="xsd:int"/>
      <element name="title" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
      <element name="date" type="xsd:dateTime"/>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEventResponse">
    <complexType>
     <sequence>
      <element name="updateEventReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEventsByID">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEventsByIDResponse">
    <complexType>
     <sequence>
      <element name="getEventsByIDReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByEmail">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByEmailResponse">
    <complexType>
     <sequence>
      <element name="getUserByEmailReturn" type="tns2:users"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerEvent">
    <complexType>
     <sequence>
      <element name="evnt" type="xsd:anyType"/>
      <element name="session" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerEventResponse">
    <complexType>
     <sequence>
      <element name="registerEventReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services"/>
   <import namespace="http://sql.java"/>
   <import namespace="http://http.servlet.jakarta"/>
   <complexType name="users">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="specialty" nillable="true" type="xsd:string"/>
     <element name="userID" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getConnectionRequest">

      <wsdl:part element="impl:getConnection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getConnectionResponse">

      <wsdl:part element="impl:getConnectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEventsByIDResponse">

      <wsdl:part element="impl:getEventsByIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByEmailRequest">

      <wsdl:part element="impl:getUserByEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerEventRequest">

      <wsdl:part element="impl:registerEvent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEventsByIDRequest">

      <wsdl:part element="impl:getEventsByID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllEventsResponse">

      <wsdl:part element="impl:getAllEventsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEventResponse">

      <wsdl:part element="impl:updateEventResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerEventResponse">

      <wsdl:part element="impl:registerEventResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllEventsRequest">

      <wsdl:part element="impl:getAllEvents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEventRequest">

      <wsdl:part element="impl:updateEvent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByEmailResponse">

      <wsdl:part element="impl:getUserByEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EventService">

      <wsdl:operation name="getConnection">

         <wsdl:input message="impl:getConnectionRequest" name="getConnectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getConnectionResponse" name="getConnectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllEvents">

         <wsdl:input message="impl:getAllEventsRequest" name="getAllEventsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllEventsResponse" name="getAllEventsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEvent">

         <wsdl:input message="impl:updateEventRequest" name="updateEventRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEventResponse" name="updateEventResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEventsByID">

         <wsdl:input message="impl:getEventsByIDRequest" name="getEventsByIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEventsByIDResponse" name="getEventsByIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByEmail">

         <wsdl:input message="impl:getUserByEmailRequest" name="getUserByEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserByEmailResponse" name="getUserByEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerEvent">

         <wsdl:input message="impl:registerEventRequest" name="registerEventRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerEventResponse" name="registerEventResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EventServiceSoapBinding" type="impl:EventService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getConnection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConnectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getConnectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllEvents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllEventsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllEventsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEventRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEventResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getEventsByID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEventsByIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEventsByIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserByEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserByEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerEventRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerEventResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EventServiceService">

      <wsdl:port binding="impl:EventServiceSoapBinding" name="EventService">

         <wsdlsoap:address location="http://localhost:8083/Project_HubEvent/services/EventService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
